@import "../colors/index.less";

@theme: default; // 主题名 
@ag-prefix: ag; // 前缀

// -------- Colors -----------
// >>> Primary
@primary-color: @blue-6;
@primary-color-hover: @blue-5;
@primary-color-active: @blue-7;
// @primary-color-outline: ;
@processing-color: @blue-6;

// >>> Info
@info-color: @primary-color;
// @info-color-deprecated-bg: color(~`colorPalette('@{info-color}', 1) `);
// @info-color-deprecated-border: color(~`colorPalette('@{info-color}', 3) `);

// >>> Success
@success-color: @green-6;
@success-color-hover: @green-5;
@success-color-active: @green-7;
// @success-color-outline: fade(@success-color, @outline-fade);
// @success-color-deprecated-bg: color(~`colorPalette('@{success-color}', 1) `);
// @success-color-deprecated-border: color(~`colorPalette('@{success-color}', 3) `);

// >>> Warning
@warning-color: @yellow-6;
@warning-color-hover: @yellow-5;
@warning-color-active: @yellow-7;
// @warning-color-outline: fade(@warning-color, @outline-fade);
// @warning-color-deprecated-bg: color(~`colorPalette('@{warning-color}', 1) `);
// @warning-color-deprecated-border: color(~`colorPalette('@{warning-color}', 3) `);

// >>> Error
@error-color: @red-6;
@error-color-hover: @red-5;
@error-color-active: @red-7;
// @error-color-outline: fade(@error-color, @outline-fade);
// @error-color-deprecated-bg: color(~`colorPalette('@{error-color}', 1) `);
// @error-color-deprecated-border: color(~`colorPalette('@{error-color}', 3) `);

// @highlight-color: @red-5;
// @normal-color: #d9d9d9;
@white: #fff;
@black: #000;

// Base Scaffolding Variables
@font-family: PingFangSC-Regular, PingFang SC, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif;
@code-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
@text-color: @neutral-7;
@text-color-secondary: @neutral-6;
@font-size-base: 14px;
@font-size-lg: @font-size-base + 2px;
@font-size-sm: @font-size-base - 2px;
@line-height-base: 1.5715;
@border-radius-base: 2px;
@font-variant-base: tabular-nums;
@body-background: @white;

// vertical paddings
@padding-lg: 24px; // containers
@padding-md: 16px; // small containers and buttons
@padding-sm: 12px; // Form controls and items
@padding-xs: 8px; // small items
@padding-xss: 4px; // more small

// vertical margins
@margin-lg: 24px; // containers
@margin-md: 16px; // small containers and buttons
@margin-sm: 12px; // Form controls and items
@margin-xs: 8px; // small items
@margin-xss: 4px; // more small

// height rules
@height-base: 32px;
@height-lg: 40px;
@height-sm: 24px;
