@theme: default; // 主题名 
@ag-prefix: ag; // 前缀


// -------- Colors -----------
// // >>> Primary
// @primary-color: @blue-6;
// @primary-color-hover: color(~`colorPalette('@{primary-color}', 5) `);
// @primary-color-active: color(~`colorPalette('@{primary-color}', 7) `);
// @primary-color-outline: fade(@primary-color, @outline-fade);
// @processing-color: @blue-6;

// // >>> Info
// @info-color: @primary-color;
// @info-color-deprecated-bg: color(~`colorPalette('@{info-color}', 1) `);
// @info-color-deprecated-border: color(~`colorPalette('@{info-color}', 3) `);

// // >>> Success
// @success-color: @green-6;
// @success-color-hover: color(~`colorPalette('@{success-color}', 5) `);
// @success-color-active: color(~`colorPalette('@{success-color}', 7) `);
// @success-color-outline: fade(@success-color, @outline-fade);
// @success-color-deprecated-bg: color(~`colorPalette('@{success-color}', 1) `);
// @success-color-deprecated-border: color(~`colorPalette('@{success-color}', 3) `);

// // >>> Warning
// @warning-color: @gold-6;
// @warning-color-hover: color(~`colorPalette('@{warning-color}', 5) `);
// @warning-color-active: color(~`colorPalette('@{warning-color}', 7) `);
// @warning-color-outline: fade(@warning-color, @outline-fade);
// @warning-color-deprecated-bg: color(~`colorPalette('@{warning-color}', 1) `);
// @warning-color-deprecated-border: color(~`colorPalette('@{warning-color}', 3) `);

// // >>> Error
// @error-color: @red-5;
// @error-color-hover: color(~`colorPalette('@{error-color}', 5) `);
// @error-color-active: color(~`colorPalette('@{error-color}', 7) `);
// @error-color-outline: fade(@error-color, @outline-fade);
// @error-color-deprecated-bg: color(~`colorPalette('@{error-color}', 1) `);
// @error-color-deprecated-border: color(~`colorPalette('@{error-color}', 3) `);

// Base Scaffolding Variables
@font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
@text-color: fade(@black, 85%);
@text-color-secondary: fade(@black, 45%);
@font-size-base: 14px;
@font-size-lg: @font-size-base + 2px;
@font-size-sm: @font-size-base - 2px;
@line-height-base: 1.5715;
@border-radius-base: 2px;

// vertical paddings
@padding-lg: 24px; // containers
@padding-md: 16px; // small containers and buttons
@padding-sm: 12px; // Form controls and items
@padding-xs: 8px; // small items
@padding-xss: 4px; // more small

// vertical margins
@margin-lg: 24px; // containers
@margin-md: 16px; // small containers and buttons
@margin-sm: 12px; // Form controls and items
@margin-xs: 8px; // small items
@margin-xss: 4px; // more small

// height rules
@height-base: 32px;
@height-lg: 40px;
@height-sm: 24px;
